@import '../config/variables';

$card-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);

.section__chapter2 {
  position: relative;
  margin-bottom: 132px;
  display: flex;
  flex-direction: column;
  .chapter-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    .title {
      font-size: 93px;
      font-weight: 800;
      line-height: 65px;
      text-align: center;
      margin-top: 110px;
      white-space: nowrap;
    }
  }

  &__content {
    inset: 0;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1440px;
    margin: auto;
    .section2-column-1 {
      max-height: 100%;
      .video1 {
        width: 100%;
        height: 490px;
        object-fit: cover;
      }

      .video2 {
        width: 100%;
        height: 490px;
        object-fit: cover;
      }
    }

    .section2-column-2 {
      position: relative;

      &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 400px;

        &__aus {
          position: absolute;
          top: 100px;
          right: -213px;
          z-index: 1;
        }
        &__de {
          position: absolute;
          bottom: -88px;
          left: -153px;
          z-index: 1;
        }
        &__uk {
          position: absolute;
          top: -33px;
          left: -153px;
          z-index: 1;
        }

        &__flights1 {
          position: absolute;
          top: 100px;
          right: -100px;
          width: 400px;
          height: 120px;

          .relative {
            width: 200px;
            height: 120px;
          }

          .line {
            border-bottom: 5px dashed $white-color;
            transform: translate(0px, 30px) rotate(19deg);
          }

          img {
            position: absolute;
            // top: -35px;
            // left: -33px;
            top: -33.3%;
            left: -20%;
          }
        }

        &__flights2 {
          position: absolute;
          bottom: 40px;
          right: -100px;
          width: 400px;
          height: 120px;

          .relative {
            width: 200px;
            height: 120px;
          }

          .line {
            border-bottom: 5px dashed $white-color;
            transform: translate(0px, 84px) rotate(-17deg);
          }

          img {
            position: absolute;
            // bottom: -26px;
            // left: -33px;
            top: 66.6%;
            right: 80%;
            // transform: rotate(-35deg);
          }
        }
      }
    }

    .section2-column-3 {
      .video3 {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    p {
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      text-align: center;
      margin-top: 165px;
      padding: 0px 20px;
    }
  }

  &__background {
    z-index: -1;
    position: absolute;
    inset: 0;
    .rectangle {
      position: relative;
      width: 100%;
      height: 50%;
      background-color: $black-color;
    }

    .triangle {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .triangle-left {
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      background-color: $primary-color; /* Color for the left triangle */
    }

    .triangle-right {
      clip-path: polygon(100% 0, 100% 100%, 0 0);
      background-color: $black-color; /* Color for the right triangle */
    }
  }

  &.active {
    .section2-column-2__content__flights1 {
      .line {
        animation: line-move-animation1 1s linear alternate;
      }

      img {
        animation: diagonal-move-animation 1s linear alternate;
      }
    }
    .section2-column-2__content__flights2 {
      .line {
        animation: line-move-animation2 1s linear;
      }

      img {
        animation: diagonal-move-animation2 1s linear;
      }
    }
  }
}
