@import '../config/variables';

$card-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);

.section__chapter3 {
  position: relative;
  background-color: $primary-color;
  width: 100%;
  height: calc(70vw + 6rem);
  max-height: 1200px;

  &__header {
    text-align: center;
    padding-bottom: 88px;

    .chapter3__title {
      padding-top: clamp(0px, 2.5vw, 40px);;
      font-size: clamp(24px,8vw,80px);
      font-weight: 800;
      line-height: clamp(28.8px,8vw,96px);
    }
  }
  .map-wrapper {
    // margin-top: 100px;
    position: absolute;
    inset: 0;
    width: 1050px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $xl) {
      margin-top: 0px;;
    }
  }

  .map {
    // background-image: url('../img/map.svg');
    width: 1050px;
    height: 600px;
    // width: 100%;
    margin: auto;
    position: relative;

    &__img {
      max-width: 100%;
      object-fit: fill;
    }

    @media screen and (max-width: $xl) {
      transform: scale(0.8);
    }

    @media screen and (max-width: $lg) {
      transform: scale(0.6);
    }

    @media screen and (max-width: $md) {
      transform: scale(0.5);
    }

    @media screen and (max-width: $sm) {
      transform: scale(0.4);
    }

    @media screen and (max-width: $xs) {
      transform: scale(0.3);
    }
  }

  .card {
    box-sizing: border-box;
    height: 97px;
    background-color: white;
    box-shadow: $card-shadow;
    position: absolute;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    &__content {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex: 1;
      > * {
        padding: 0 20px;
        color: $black-color;
      }

      &__title {
        font-size: 28px;
        font-weight: 800;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        white-space: nowrap;
      }

      &__button {
        @extend .center;
        background-color: $gray;
        font-size: 20px;
        font-weight: 600;
        line-height: 16px;
        height: 30px;
      }
    }

    &__thumb {
      width: 115px;
      height: 97px;
      border-radius: 0 10px 10px 0;
      border: 1px solid white;
    }
  }

  .card-1 {
    @extend .card;
    top: -5%;
    left: 19.7%;
  }

  .card-2 {
    @extend .card;
    top: 13.5%;
    left: 56.5%;
  }

  .card-3 {
    @extend .card;
    top: 48.3%;
    left: 4.2%;
  }

  .card-4 {
    @extend .card;
    top: 43%;
    right: -4%;
  }

  .circle {
    position: absolute;

    &-us {
      top: 31.8%;
      left: 16.38%;
    }
    &-uk {
      top: 11.2%;
      left: 36%;
    }
    &-de {
      top: 28.3%;
      right: 39.8%;
    }
    &-aus {
      top: 60%;
      right: 4.66%;
    }
  }
}
