.section__chapter1-us-1 {
  position: relative;
  display: flex;
  .chapter-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .left-screen {
    flex: 1;
    &__top {
      text-align: left;
      img {
        display: block;
        width: px-to-vw(633);
        aspect-ratio: 5/3;
        object-fit: cover;
      }
    }
    &__bottom {
      padding-top: 6px;
      display: flex;
      &__left {
        display: flex;
        gap: 6px;
        flex-direction: column;
        flex: 1;
        img {
          &:first-child {
            width: 22vw;
            aspect-ratio: 98/100;
          }
          &:last-child {
            width: 27vw;
            aspect-ratio: 5/4;
          }
        }
      }
      &__right {
        flex: 1;
        display: flex;
        align-items: end;
        img {
          width: 21.1vw;
          padding-left: 6px;
        }
      }
    }
  }
  .right-screen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: px-to-vw(88);
    .wrap {
      text-align: center;
      h2 {
        margin-top: px-to-vw(80);
        text-align: center;
        color: $black-color;
        font-size: px-to-vw(32);
        font-weight: 800;
        line-height: px-to-vw(38.4);
        margin-bottom: px-to-vw(30);
      }
      .divider {
        display: inline-block;
        width: px-to-vw(60);
        height: px-to-vw(8);
        background-color: $white-color;
        margin-bottom: px-to-vw(40);
      }
      h1 {
        color: $black-color;
        font-size: 5vw;
        font-weight: 700;
      }
      p {
        margin-top: px-to-vw(60);
        color: $black-color;
        font-size: px-to-vw(24);
        font-weight: 500;
        line-height: px-to-vw(26);
        text-align: center;
        span {
          display: block;
        }
      }
    }
  }
}
