@import '../config/variables';

.section__chapter1-uk-4 {
  text-align: center;
  position: relative;
  .chapter-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  > img {
    display: block;
    width: 100%;
  }

  .container1 {
    position: absolute;
    inset: 0;
    display: flex;
    margin-top: px-to-vw(133);

    &__left {
      flex: 1;
      text-align: right;
      .title {
        margin-top: px-to-vw(105);
        text-align: center;
        h2 {
          color: $black-color;
          font-size: px-to-vw(32);
          font-weight: 800;
          line-height: px-to-vw(38.4);
        }
        .divider {
          margin-top: px-to-vw(25);
          display: inline-block;
          height: px-to-vw(8);
          width: px-to-vw(73);
          background-color: $black-color;
        }
      }
      h1 {
        margin-top: px-to-vw(27);
        font-size: px-to-vw(72);
        font-weight: 700;
        line-height: px-to-vw(72);
        color: $black-color;
        text-align: center;
        > span {
          display: block;
        }
      }
      .arrow-wrap {
        margin-top: px-to-vw(77);
        position: relative;
        img {
          width: 100%;
        }
        h3 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: px-to-vw(52);
          font-weight: 700;
          line-height: px-to-vw(30);
        }
      }
    }
    &__right {
      flex: 1;
      text-align: left;
      .wrap-img {
        position: relative;
        display: inline-block;
        img:first-child {
          width: px-to-vw(441);
        }
        .local-icon {
          display: inline-block;
          position: absolute;
          width: px-to-vw(133);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
