@import '../config/variables';

.section__chapter1-select {
  text-align: center;
  padding-bottom: px-to-vw(50);
  .chapter-text {
    margin: px-to-vw(80) 0 px-to-vw(40);
  }
  h1 {
    font-size: px-to-vw(72);
    font-weight: 700;
    color: $black-color;
    margin-bottom: px-to-vw(80);
  }
  p {
    display: inline-block;
    font-size: px-to-vw(24);
    font-weight: 500;
    line-height: px-to-vw(26);
    margin-bottom: px-to-vw(80);
    span {
      display: block;
    }
  }
  .wrap-image {
    display: flex;
    justify-content: space-between;
    .btn-img {
      display: inline-block;
      width: 48%;
      position: relative;
      cursor: pointer;
      aspect-ratio: 5/4;
      img {
        display: block;
        height: 100%;
      }
      .wrap-text {
        position: absolute;
        right: 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 50%;
        background-color: $black-color;
        padding-bottom: 0.5vw;
        font-size: 8vw;
        font-style: italic;
        font-weight: 800;
        line-height: 7vw;
        color: $white-color;
      }
    }
  }
}
