@import '../config/variables';

.section__chapter1-uk-3 {
  text-align: center;
  position: relative;
  height: 100vh;
  background: url(/assets/img/chapter1/uk-3/can.png) no-repeat center center / cover;
  .title {
    margin-top: 95px;
    text-align: center;
    h2 {
      color: $black-color;
      font-size: 32px;
      font-weight: 800;
      line-height: 38.4px;
    }
    .divider {
      margin-top: 25px;
      display: inline-block;
      height: 8px;
      width: 73px;
      background-color: $black-color;
    }
  }
  .tag-button {
    margin-top: 62px;
    display: inline-block;
    &.second-mode {
      margin-top: 83px;
    }
  }
  p {
    display: block;
    margin-top: 17px;
    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
  }
}
