.section__chapter1-uk-1 {
  position: relative;
  display: flex;
  .chapter-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .left-screen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrap {
      text-align: center;
    }
    h2 {
      margin-top: px-to-vw(80);
      text-align: center;
      color: $black-color;
      font-size: px-to-vw(32);
      font-weight: 800;
      line-height: 38.4px-to-vw(38.4);
      margin-bottom: px-to-vw(30);
    }
    .divider {
      display: inline-block;
      width: px-to-vw(60);
      height: px-to-vw(8);
      background-color: $white-color;
      margin-bottom: px-to-vw(41);
    }
    h1 {
      color: $black-color;
      font-size: px-to-vw(72);
      font-weight: 700;
      line-height: px-to-vw(72);
    }
    .wrap-text {
      text-align: center;
      p {
        display: inline-block;
        width: 52%;
        margin-top: px-to-vw(60);
        color: $black-color;
        font-size: px-to-vw(24);
        font-weight: 500;
        line-height: px-to-vw(26);
        text-align: center;
      }
    }
  }
  .right-screen {
    flex: 1;
    &__top {
      display: flex;
      &__left {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: end;
        margin-right: 6px;
        img {
          width: px-to-vw(238);
        }
      }
      &__right {
        display: flex;
        flex-direction: column;
        gap: 6px;
        img {
          display: inline-block;
          object-fit: cover;
          width: px-to-vw(293);
          aspect-ratio: 293/299;
        }
      }
    }
    &__bottom {
      display: flex;
      justify-content: flex-end;
      padding-top: 6px;
      img {
        width: px-to-vw(671);
        aspect-ratio: 5/3;
      }
    }
  }
}
