@import '../config/variables';

.section__chapter1-select {
  text-align: center;
  .chapter-button {
    margin: 80px 0 40px;
  }
  h1 {
    font-size: 72px;
    font-weight: 700;
    color: $black-color;
    margin-bottom: 80px;
  }
  p {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 80px;
    span {
      display: block;
    }
  }
  .wrap-image {
    display: flex;
    justify-content: space-between;
    // height: 68vh;
    .btn-img {
      display: inline-block;
      width: 45%;
      position: relative;
      cursor: pointer;
      aspect-ratio: 5/4;
      img {
        display: block;
        height: 100%;
      }
      .wrap-text {
        position: absolute;
        right: 0;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: $black-color;
        opacity: 50%;
        .text {
          font-size: 8vw;
          font-style: italic;
          font-weight: 800;
          color: $white-color;
        }
      }
    }
  }
}
