.section__chapter1-uk-2 {
  position: relative;
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  $first-three: 33.333333%;
  .chapter-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 140px;
    text-align: center;
    h2 {
      color: $black-color;
      font-size: 32px;
      font-weight: 800;
      line-height: 38.4px;
    }
    .divider {
      margin-top: 25px;
      display: inline-block;
      height: 8px;
      width: 73px;
      background-color: $black-color;
    }
  }
  .lines {
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translateX(-50%);
    width: 33vw;
    img {
      width: 100%;
    }
  }
  .container1 {
    flex-basis: $first-three;
    display: flex;
    flex-direction: column;
    img {
      flex: 1;
    }
    .white-box {
      right: 60%;
      top: 55%;
    }
  }
  .container2 {
    display: flex;
    flex-direction: column;
    flex-basis: $first-three;
    img {
      flex: 1;
    }
    .white-box {
      left: 50%;
      transform: translateX(-50%);
      top: 25%;
    }
  }
  .container3 {
    display: flex;
    flex-direction: column;
    flex-basis: $first-three;
    img {
      flex: 1;
    }
    .white-box {
      left: 60%;
      top: 55%;
    }
  }
}
