.section__chapter1-uk-2 {
  position: relative;
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  $first-three: 33.333333%;
  .chapter-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: px-to-vw(140);
    text-align: center;
    h2 {
      color: $black-color;
      font-size: px-to-vw(32);
      font-weight: 800;
      line-height: px-to-vw(38.4);
    }
    .divider {
      margin-top: px-to-vw(25);
      display: inline-block;
      height: px-to-vw(8);
      width: px-to-vw(73);
      background-color: $black-color;
    }
  }
  .lines {
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translateX(-50%);
    width: 33vw;
    img {
      width: 100%;
    }
  }
  .container1 {
    flex-basis: $first-three;
    display: flex;
    flex-direction: column;
    img {
      flex-basis: 50%;
      width: px-to-vw(480);
      aspect-ratio: 480/510;
      display: block;
    }
    .white-box {
      right: 60%;
      top: 55%;
    }
  }
  .container2 {
    display: flex;
    flex-direction: column;
    flex-basis: $first-three;
    img {
      flex-basis: 50%;
      width: px-to-vw(480);
      aspect-ratio: 480/510;
      display: block;
    }
    .white-box {
      left: 50%;
      transform: translateX(-50%);
      top: 25%;
    }
  }
  .container3 {
    display: flex;
    flex-direction: column;
    flex-basis: $first-three;
    img {
      flex-basis: 50%;
      width: px-to-vw(480);
      aspect-ratio: 480/510;
      display: block;
    }
    .white-box {
      left: 60%;
      top: 55%;
    }
  }
}
