@import '../config/variables';

.section__header {
  padding: px-to-vw(40) 6% px-to-vw(60);
  display: flex;
  justify-content: center;
  background-color: $primary-color;
  .title {
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    position: relative;
    h1 {
      align-self: flex-start;
      color: $black-color;
      font-size: px-to-vw(130);
      font-weight: 800;
      line-height: px-to-vw(108);
    }
    > p {
      position: absolute;
      top: 35%;
      right: 0;
      font-size: px-to-vw(24);
      font-weight: 500;
      line-height: px-to-vw(27);
      color: $black-color;
      text-align: right;
      width: 87%;
    }
    h2 {
      align-self: flex-end;
      color: $black-color;
      font-size: px-to-vw(251.33);
      font-weight: 600;
      line-height: px-to-vw(334);
      height: px-to-vw(270);
    }
  }
  img {
    margin-left: px-to-vw(50);
    width: px-to-vw(204);
    height: px-to-vw(385);
  }
}
