@import '../config/variables';
@import '../config/function';

.section__chapter1-us-3 {
  text-align: center;
  position: relative;
  background: url(/assets/img/chapter1/us-3/can.png) no-repeat center center / cover;
  .title {
    margin-top: 95px;
    text-align: center;
    h2 {
      color: $black-color;
      font-size: px-to-vw(32);
      font-weight: 800;
      line-height: px-to-vw(38.4);
    }
    .divider {
      margin-top: px-to-vw(25);
      display: inline-block;
      height: 8px;
      width: 73pxpx-to-vw(73);
      background-color: $black-color;
    }
  }
  .tag-text {
    margin-top: 62px;
    display: inline-block;
    &.second-mode {
      margin-top: 83px;
    }
  }
  p {
    display: inline-block;
    margin-top: 17px;
    font-size: px-to-vw(72);
    font-weight: 700;
    line-height: px-to-vw(80);
    span {
      display: block;
    }
  }
  .long-button {
    margin: px-to-vw(86) 0 px-to-vw(144);
    font-size: px-to-vw(29.59);
    font-weight: px-to-vw(500);
    line-height: px-to-vw(35.5);
    background-color: $white-color;
    border: 1px solid $black-color;
    display: inline-block;
    padding: px-to-vw(8) px-to-vw(32);
    border-radius: px-to-vw(54);
  }
}
