{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto",
  "trailingComma": "all",
  "bracketSpacing": true,
  "useTabs": false
}
