.flex {
    display: flex;;
}

.justify-content-center {
    justify-content: center;
}

.items-center {
    justify-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position:absolute;
}

.delay-500 {
    animation-delay: 500ms !important;
}

.delay-1000 {
    animation-delay: 1s !important;
}

.delay-2000 {
    animation-delay: 2s !important;
}

.delay-3000 {
    animation-delay: 3s !important;
}
