/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4rem 0 2rem;
}
.section__title {
  font-size: var(--bigger-font-size);
  text-align: center;
  margin-bottom: var(--mb-2-5);
}
.section__title-gradient {
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*=============== LAYOUT ===============*/
.main {
  overflow: hidden;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.items-center {
  justify-items: center;
}

.center, .section__chapter3 .card__content__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: transparent;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: flex;
  width: 1.5rem;
}
.nav__toggle {
  font-size: 1.2rem;
  color: var(--white-color);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0 3rem;
    transition: 0.4s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.nav__link {
  color: var(--white-color);
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.4s;
}
.nav__link:hover {
  background: var(--white-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.nav__close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  color: var(--white-color);
  cursor: pointer;
}

/* show menu */
.show-menu {
  top: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
}

/* Active link */
.active-link {
  background: var(--white-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*=============== HOME ===============*/
.home__img {
  width: 250px;
  position: absolute;
  top: -16rem;
  right: 1.5rem;
}
.home__data {
  padding-top: 5rem;
}
.home__header {
  position: relative;
}
.home__title {
  position: absolute;
  top: -4rem;
  left: 1rem;
  line-height: 6rem;
  font-size: var(--biggest-font-size);
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.home__subtitle {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-2-5);
}
.home__title-description {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
.home__description {
  margin-bottom: var(--mb-2-5);
  line-height: var(--text-line-height);
}
.home__price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-left: var(--mb-0-75);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--black-color-alt);
}
.button__icon {
  font-size: 1.2rem;
}
.button--flex {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

/*=============== SPONSOR ===============*/
.sponsor__img {
  width: 90px;
}
.sponsor__container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  row-gap: 5rem;
  justify-items: center;
  align-items: center;
}

/*=============== SPECS ===============*/
.specs__container {
  position: relative;
}
.specs__content {
  row-gap: 1.5rem;
}
.specs__data {
  display: grid;
  row-gap: 0.25rem;
}
.specs__icon {
  font-size: 1.2rem;
  color: var(--white-color);
}
.specs__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.specs__subtitle {
  font-size: var(--smaller-font-size);
}
.specs__data:nth-child(1), .specs__data:nth-child(4) {
  margin-left: 1.5rem;
}
.specs__img {
  width: 250px;
  position: absolute;
  top: 2rem;
  right: -4rem;
}

/*=============== CASE ===============*/
.case__container {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}
.case__data {
  padding: 5rem 0 3rem;
}
.case__img {
  width: 250px;
  position: absolute;
  left: -7rem;
}
.case__description {
  margin-bottom: var(--mb-1-5);
  line-height: var(--text-line-height);
}

/*=============== DISCOUNT ===============*/
.discount__container {
  position: relative;
  background-color: var(--container-color);
  padding: 2rem 1.5rem;
  border-radius: 0.75rem;
}
.discount__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}
.discount__description {
  margin-bottom: var(--mb-1);
}
.discount__img {
  width: 300px;
  position: absolute;
  top: 4rem;
  right: -11rem;
}

/*=============== PRODUCTS ===============*/
.products__line {
  line-height: 4rem;
}
.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 1.5rem;
  padding-top: 3rem;
}
.products__card {
  position: relative;
  height: 132px;
  background-color: var(--container-color);
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: grid;
}
.products__img {
  width: 80px;
  position: absolute;
  inset: 0;
  margin-right: auto;
  margin-left: auto;
  top: -3rem;
}
.products__content {
  align-self: flex-end;
}
.products__title, .products__price {
  font-size: var(--small-font-size);
}
.products__price {
  font-weight: var(--font-semi-bold);
}
.products__button {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.35rem;
}

/*=============== FOOTER ===============*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}
.footer__logo {
  width: 2rem;
}
.footer__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.footer__link {
  color: var(--text-color);
}
.footer__link:hover {
  color: var(--white-color);
}
.footer__form {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  background-color: var(--container-color);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: var(--mb-2);
}
.footer__input {
  background-color: var(--container-color);
  width: 90%;
  color: var(--white-color);
}
.footer__input::-moz-placeholder {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}
.footer__input::placeholder {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}
.footer__social {
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.footer__social-link {
  display: inline-flex;
  color: var(--white-color);
  background-color: var(--container-color);
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.footer__social-link:hover {
  background-color: var(--black-color);
}
.footer__copy {
  margin-top: 5rem;
  text-align: center;
}
.footer__copy-link {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.chapter-button, .secondary-chapter-button {
  font-size: 32px;
  font-weight: 800;
  line-height: 45px;
  text-align: center;
  width: 248px;
  background-color: #fedd00;
  color: #000;
  display: inline-block;
}

.secondary-chapter-button {
  background-color: #000;
  color: #fedd00;
}

.corner-text {
  font-size: 117.14px;
  font-style: italic;
  font-weight: 800;
  line-height: 73px;
  text-align: left;
  position: absolute;
  top: 46px;
  left: 84px;
  color: #fff;
}
.corner-text.right {
  left: unset;
  right: 84px;
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  background-color: var(--container-color);
  border-radius: 0.25rem;
  padding: 0.45rem;
  opacity: 9;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}
.scrollup:hover {
  background-color: var(--black-color);
  opacity: 1;
}
.scrollup__icon {
  color: var(--white-color);
  font-size: 1.35rem;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 5rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-color-alt);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .section__title {
    font-size: var(--big-font-size);
  }
  .home__img {
    width: 200px;
    top: -13rem;
  }
  .home__title {
    top: -4rem;
    font-size: var(--bigger-font-size);
  }
  .home__data {
    padding-top: 1rem;
  }
  .home__description {
    font-size: var(--small-font-size);
  }
  .specs__img {
    width: 200px;
  }
  .case__container {
    grid-template-columns: 0.6fr 1fr;
  }
  .case__img {
    width: 220px;
    top: -2rem;
    left: -9rem;
  }
  .case__data {
    padding: 0;
  }
  .products__container {
    grid-template-columns: 142px;
    justify-content: center;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: 0.8fr 1fr;
  }
  .home__data {
    padding-top: 2rem;
  }
  .home__img {
    top: -7rem;
    left: 0;
  }
  .specs__img {
    position: initial;
  }
  .specs__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .case__img {
    position: initial;
  }
  .case__data {
    padding: 0;
  }
  .case__container {
    grid-template-columns: max-content 250px;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .discount__img {
    position: initial;
  }
  .discount__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .products__container {
    grid-template-columns: repeat(3, 142px);
    justify-content: center;
  }
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__logo {
    width: 2rem;
  }
  .nav__list {
    flex-direction: row;
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }
  .nav__link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .home__container {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
  }
  .home__img {
    top: -9rem;
    left: 4rem;
  }
  .home__data {
    padding-top: 8rem;
  }
  .specs__img {
    width: 300px;
  }
  .case__container {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
  .case__img {
    width: 300px;
  }
  .case__description {
    margin-bottom: var(--mb-2);
  }
  .discount__container {
    grid-template-columns: 250px max-content;
    justify-content: center;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    padding: 3rem 0;
  }
  .discount__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1);
  }
  .discount__description {
    margin-bottom: var(--mb-2);
  }
  .products__container {
    grid-template-columns: repeat(3, 162px);
    gap: 6rem 3rem;
    padding-top: 5rem;
  }
  .products__card {
    height: 152px;
    padding: 0.85rem;
  }
  .products__img {
    width: 95px;
  }
  .footer__container {
    grid-template-columns: 0.4fr 0.7fr 0.7fr 1fr;
  }
}
/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 300px;
    top: -15rem;
  }
  .home__title {
    top: -5rem;
    left: 3.5rem;
  }
  .home__description {
    padding-right: 5rem;
  }
  .sponsor__img {
    width: 100px;
  }
  .discount__img {
    width: 350px;
  }
  .footer__container {
    padding-top: 3rem;
  }
  .footer__copy {
    margin-top: 9rem;
  }
}
.white-box {
  border: 3px solid #000;
  position: absolute;
  background-color: #fff;
  padding: 32px 0;
  text-align: center;
  width: 550px;
}
.white-box h2 {
  color: #000;
  font-size: 64px;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 35px;
}
.white-box p {
  font-size: 28px;
  font-weight: 500;
  line-height: 22px;
}

.tag-button {
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
  padding: 9px;
  display: inline-block;
  background-color: #fedd00;
  width: 170px;
}
.tag-button.second-mode {
  color: #fedd00;
  background-color: #000;
}

.section__header {
  padding: 40px 6% 60px;
  display: flex;
  justify-content: center;
  background-color: #fedd00;
}
.section__header .title {
  display: flex;
  flex-direction: column;
  background-color: #fedd00;
  position: relative;
}
.section__header .title h1 {
  align-self: flex-start;
  color: #000;
  font-size: 130px;
  font-weight: 800;
  line-height: 108px;
}
.section__header .title p {
  position: absolute;
  top: 35%;
  right: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 27px;
  color: #000;
  text-align: right;
  width: 87%;
}
.section__header .title h2 {
  align-self: flex-end;
  color: #000;
  font-size: 251.33px;
  font-weight: 600;
  line-height: 334px;
  height: 270px;
}
.section__header img {
  margin-left: 50px;
  width: 204px;
  height: 385px;
}

.section__chapter1-select {
  text-align: center;
}
.section__chapter1-select .chapter-button, .section__chapter1-select .secondary-chapter-button {
  margin: 80px 0 40px;
}
.section__chapter1-select h1 {
  font-size: 72px;
  font-weight: 700;
  color: #000;
  margin-bottom: 80px;
}
.section__chapter1-select p {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  width: 60%;
  margin-bottom: 80px;
}
.section__chapter1-select .wrap-img {
  display: flex;
  justify-content: space-between;
  height: 68vh;
}
.section__chapter1-select .wrap-img .img {
  display: inline-block;
  width: 45%;
  position: relative;
  background-color: red;
}
.section__chapter1-select .wrap-img .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__chapter1-select .wrap-img .img .wrap-text {
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  padding: 10px 0;
  opacity: 50%;
}
.section__chapter1-select .wrap-img .img .wrap-text .text {
  font-size: 180px;
  font-style: italic;
  font-weight: 800;
  line-height: 106px;
  color: #fff;
}

.section__chapter1-uk-1 {
  position: relative;
  display: flex;
  height: 100vh;
}
.section__chapter1-uk-1 .chapter-button, .section__chapter1-uk-1 .secondary-chapter-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section__chapter1-uk-1 .left-screen {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__chapter1-uk-1 .left-screen .wrap {
  text-align: center;
}
.section__chapter1-uk-1 .left-screen h2 {
  margin-top: 80px;
  text-align: center;
  color: #000;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  margin-bottom: 30px;
}
.section__chapter1-uk-1 .left-screen .divider {
  display: inline-block;
  width: 60px;
  height: 8px;
  background-color: #fff;
  margin-bottom: 40px;
}
.section__chapter1-uk-1 .left-screen h1 {
  color: #000;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
}
.section__chapter1-uk-1 .left-screen .wrap-text {
  text-align: center;
}
.section__chapter1-uk-1 .left-screen .wrap-text p {
  display: inline-block;
  width: 52%;
  margin-top: 60px;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}
.section__chapter1-uk-1 .right-screen {
  flex: 1;
}
.section__chapter1-uk-1 .right-screen__top {
  height: 60%;
  display: flex;
}
.section__chapter1-uk-1 .right-screen__top__left {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.section__chapter1-uk-1 .right-screen__top__left img {
  height: 70%;
}
.section__chapter1-uk-1 .right-screen__top__right {
  display: flex;
  flex-direction: column;
}
.section__chapter1-uk-1 .right-screen__top__right img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 6px;
  height: 50%;
}
.section__chapter1-uk-1 .right-screen__top__right img:first-child {
  height: 50%;
  padding-bottom: 3px;
}
.section__chapter1-uk-1 .right-screen__top__right img:last-child {
  padding-top: 3px;
}
.section__chapter1-uk-1 .right-screen__bottom {
  height: 40%;
  display: flex;
  justify-content: flex-end;
  padding-top: 6px;
}
.section__chapter1-uk-1 .right-screen__bottom img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.section__chapter1-uk-2 {
  position: relative;
  display: inline-flex;
  width: 100%;
  flex-direction: row;
}
.section__chapter1-uk-2 .chapter-button, .section__chapter1-uk-2 .secondary-chapter-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section__chapter1-uk-2 .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 140px;
  text-align: center;
}
.section__chapter1-uk-2 .title h2 {
  color: #000;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
}
.section__chapter1-uk-2 .title .divider {
  margin-top: 25px;
  display: inline-block;
  height: 8px;
  width: 73px;
  background-color: #000;
}
.section__chapter1-uk-2 .lines {
  position: absolute;
  left: 50%;
  top: 433px;
  transform: translateX(-50%);
}
.section__chapter1-uk-2 .container1 {
  flex-basis: 33.333333%;
  display: flex;
  flex-direction: column;
}
.section__chapter1-uk-2 .container1 img {
  flex: 1;
}
.section__chapter1-uk-2 .container1 .white-box {
  left: 93px;
  top: 586px;
}
.section__chapter1-uk-2 .container2 {
  display: flex;
  flex-direction: column;
  flex-basis: 33.333333%;
}
.section__chapter1-uk-2 .container2 img {
  flex: 1;
}
.section__chapter1-uk-2 .container2 .white-box {
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
}
.section__chapter1-uk-2 .container2 .white-box h2 {
  line-height: 56px;
}
.section__chapter1-uk-2 .container3 {
  display: flex;
  flex-direction: column;
  flex-basis: 33.333333%;
}
.section__chapter1-uk-2 .container3 img {
  flex: 1;
}
.section__chapter1-uk-2 .container3 .white-box {
  right: 93px;
  top: 586px;
}

.section__chapter1-uk-3 {
  text-align: center;
  position: relative;
  height: 100vh;
  background: url(/assets/img/chapter1/uk-3/can.png) no-repeat center center/cover;
}
.section__chapter1-uk-3 .title {
  margin-top: 95px;
  text-align: center;
}
.section__chapter1-uk-3 .title h2 {
  color: #000;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
}
.section__chapter1-uk-3 .title .divider {
  margin-top: 25px;
  display: inline-block;
  height: 8px;
  width: 73px;
  background-color: #000;
}
.section__chapter1-uk-3 .tag-button {
  margin-top: 62px;
  display: inline-block;
}
.section__chapter1-uk-3 .tag-button.second-mode {
  margin-top: 83px;
}
.section__chapter1-uk-3 p {
  display: inline-block;
  width: 60%;
  margin-top: 17px;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
}

.section__chapter1-us-1 {
  position: relative;
  display: flex;
  height: 100vh;
}
.section__chapter1-us-1 .chapter-button, .section__chapter1-us-1 .secondary-chapter-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section__chapter1-us-1 .left-screen {
  flex: 1;
}
.section__chapter1-us-1 .left-screen__top {
  height: 39%;
  text-align: left;
}
.section__chapter1-us-1 .left-screen__top img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.section__chapter1-us-1 .left-screen__bottom {
  padding-top: 6px;
  height: 61%;
  display: flex;
}
.section__chapter1-us-1 .left-screen__bottom__left {
  flex: 1;
}
.section__chapter1-us-1 .left-screen__bottom__left img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 55%;
}
.section__chapter1-us-1 .left-screen__bottom__left img:first-child {
  height: 45%;
  padding-bottom: 6px;
}
.section__chapter1-us-1 .left-screen__bottom__right {
  flex: 1;
}
.section__chapter1-us-1 .left-screen__bottom__right img {
  padding-left: 6px;
}
.section__chapter1-us-1 .right-screen {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 88px;
}
.section__chapter1-us-1 .right-screen .wrap {
  width: 60%;
  text-align: center;
}
.section__chapter1-us-1 .right-screen .wrap h2 {
  margin-top: 80px;
  text-align: center;
  color: #000;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  margin-bottom: 30px;
}
.section__chapter1-us-1 .right-screen .wrap .divider {
  display: inline-block;
  width: 60px;
  height: 8px;
  background-color: #fff;
  margin-bottom: 40px;
}
.section__chapter1-us-1 .right-screen .wrap h1 {
  color: #000;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
}
.section__chapter1-us-1 .right-screen .wrap p {
  margin-top: 60px;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

.section__chapter1-us-2 {
  position: relative;
  display: inline-flex;
  width: 100%;
  flex-direction: row;
}
.section__chapter1-us-2 .chapter-button, .section__chapter1-us-2 .secondary-chapter-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section__chapter1-us-2 .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 140px;
  text-align: center;
}
.section__chapter1-us-2 .title h2 {
  color: #000;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
}
.section__chapter1-us-2 .title .divider {
  margin-top: 25px;
  display: inline-block;
  height: 8px;
  width: 73px;
  background-color: #000;
}
.section__chapter1-us-2 .lines {
  position: absolute;
  left: 50%;
  top: 433px;
  transform: translateX(-50%);
}
.section__chapter1-us-2 .container1 {
  flex-basis: 33.333333%;
  display: flex;
  flex-direction: column;
}
.section__chapter1-us-2 .container1 img {
  flex: 1;
}
.section__chapter1-us-2 .container1 .white-box {
  left: 93px;
  top: 586px;
}
.section__chapter1-us-2 .container2 {
  flex-basis: 33.333333%;
}
.section__chapter1-us-2 .container2 img {
  height: 100%;
}
.section__chapter1-us-2 .container2 .white-box {
  left: 50%;
  transform: translateX(-50%);
  top: 276px;
}
.section__chapter1-us-2 .container3 {
  display: flex;
  flex-direction: column;
  flex-basis: 33.333333%;
}
.section__chapter1-us-2 .container3 img {
  flex: 1;
}
.section__chapter1-us-2 .container3 .white-box {
  right: 93px;
  top: 586px;
}

.section__chapter1-us-3 {
  text-align: center;
  position: relative;
  height: 100vh;
  background: url(/assets/img/chapter1/us-3/can.png) no-repeat center center/cover;
}
.section__chapter1-us-3 .title {
  margin-top: 95px;
  text-align: center;
}
.section__chapter1-us-3 .title h2 {
  color: #000;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
}
.section__chapter1-us-3 .title .divider {
  margin-top: 25px;
  display: inline-block;
  height: 8px;
  width: 73px;
  background-color: #000;
}
.section__chapter1-us-3 .tag-button {
  margin-top: 62px;
  display: inline-block;
}
.section__chapter1-us-3 .tag-button.second-mode {
  margin-top: 83px;
}
.section__chapter1-us-3 p {
  display: inline-block;
  width: 60%;
  margin-top: 17px;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
}
.section__chapter1-us-3 .long-button {
  margin-top: 86px;
  font-size: 29.59px;
  font-weight: 500;
  line-height: 35.5px;
  background-color: #fff;
  border: 1px solid #000;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 54px;
}

.section__chapter1-us-4 {
  text-align: center;
  position: relative;
}
.section__chapter1-us-4 .chapter-button, .section__chapter1-us-4 .secondary-chapter-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section__chapter1-us-4 > img {
  width: 100%;
}
.section__chapter1-us-4 .container1 {
  position: absolute;
  inset: 0;
}
.section__chapter1-us-4 .container1__top {
  margin-top: 133px;
  display: flex;
  width: 100%;
}
.section__chapter1-us-4 .container1__top__left {
  flex-basis: 50%;
  text-align: right;
}
.section__chapter1-us-4 .container1__top__left .wrap-img {
  position: relative;
  display: inline-block;
  width: 70%;
}
.section__chapter1-us-4 .container1__top__left .wrap-img .local-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section__chapter1-us-4 .container1__top__left .wrap-img .local-icon:first-child {
  width: 100%;
}
.section__chapter1-us-4 .container1__top__right {
  flex-basis: 50%;
}
.section__chapter1-us-4 .container1__top__right .title {
  margin-top: 105px;
  text-align: center;
}
.section__chapter1-us-4 .container1__top__right .title h2 {
  color: #000;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
}
.section__chapter1-us-4 .container1__top__right .title .divider {
  margin-top: 25px;
  display: inline-block;
  height: 8px;
  width: 73px;
  background-color: #000;
}
.section__chapter1-us-4 .container1__top__right h1 {
  margin-top: 27px;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;
  color: #000;
}
.section__chapter1-us-4 .container1__top__right .arrow-wrap {
  margin-top: 77px;
  position: relative;
}
.section__chapter1-us-4 .container1__top__right .arrow-wrap img {
  width: 100%;
}
.section__chapter1-us-4 .container1__top__right .arrow-wrap h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 52px;
  font-weight: 700;
  line-height: 30px;
}
.section__chapter1-us-4 .container1__top__right .image-wrap {
  text-align: left;
  margin-top: 88px;
}
.section__chapter1-us-4 .container1__top__right .image-wrap > img {
  margin-left: 60px;
  display: inline-block;
  width: 80%;
}
.section__chapter1-us-4 .container1__bottom {
  margin-top: 108px;
}
.section__chapter1-us-4 .container1__bottom img {
  width: 50%;
}

.section__chapter3 {
  width: 100%;
  height: 100%;
  background-color: #fedd00;
}
.section__chapter3__header {
  text-align: center;
  padding-bottom: 88px;
}
.section__chapter3__header .chapter3__title {
  padding-top: 40px;
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
}
.section__chapter3 .map {
  background-image: url("../img/map.svg");
  max-width: 1050px;
  height: 606.46px;
  width: 100%;
  margin: auto;
  position: relative;
}
.section__chapter3 .card, .section__chapter3 .card-4, .section__chapter3 .card-3, .section__chapter3 .card-2, .section__chapter3 .card-1 {
  box-sizing: border-box;
  height: 97px;
  background-color: white;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.section__chapter3 .card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.section__chapter3 .card__content > * {
  padding: 0 20px;
  color: #000;
}
.section__chapter3 .card__content__title {
  font-size: 28px;
  font-weight: 800;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  white-space: nowrap;
}
.section__chapter3 .card__content__button {
  background-color: #cdcdcd;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
  height: 30px;
}
.section__chapter3 .card__thumb {
  width: 115px;
  height: 97px;
  border-radius: 0 10px 10px 0;
  border: 1px solid white;
}
.section__chapter3 .card-1 {
  top: -30px;
  left: 207px;
}
.section__chapter3 .card-2 {
  top: 81px;
  left: 594px;
}
.section__chapter3 .card-3 {
  top: 290px;
  left: 44px;
}
.section__chapter3 .card-4 {
  top: 258px;
  right: -42px;
}
.section__chapter3 .circle {
  position: absolute;
}
.section__chapter3 .circle-us {
  top: 191px;
  left: 172px;
}
.section__chapter3 .circle-uk {
  top: 67px;
  left: 378px;
}
.section__chapter3 .circle-de {
  top: 170px;
  right: 418px;
}
.section__chapter3 .circle-aus {
  top: 360px;
  right: 49px;
}/*# sourceMappingURL=styles.css.map */