.chapter-button {
  font-size: 32px;
  font-weight: 800;
  line-height: 46px;
  text-align: center;
  width: 260px;
  background-color: $primary-color;
  color: $black-color;
  display: inline-block;
}
