.chapter-button {
  font-size: 32px;
  font-weight: 800;
  line-height: 45px;
  text-align: center;
  width: 248px;
  background-color: $primary-color;
  color: $black-color;
  display: inline-block;
}

.secondary-chapter-button {
  @extend .chapter-button;
  background-color: $black-color;
  color: $primary-color;
}

.white-chapter-button {
  @extend .chapter-button;
  background-color: $white-color;
  color: $black-color;
}