.corner-text {
  font-size: 117.14px;
  font-style: italic;
  font-weight: 800;
  line-height: 140.57px;
  text-align: left;
  position: absolute;
  top: 40px;
  left: 40px;
  .right {
    left: unset;
    right: 40px;
  }
}
