@import '../config/variables';
@import '../config/function';

.tag-text {
  font-size: px-to-vw(32);
  font-weight: 500;
  line-height: px-to-vw(30);
  padding: px-to-vw(9);
  display: inline-block;
  background-color: $primary-color;
  width: px-to-vw(170);
  &.second-mode {
    color: $primary-color;
    background-color: $black-color;
  }
}
