@import '../config/variables';

.white-box {
  border: px-to-vw(3) solid $black-color;
  position: absolute;
  background-color: $white-color;
  padding: px-to-vw(32) px-to-vw(20);
  text-align: center;
  > h2 {
    color: $black-color;
    font-size: px-to-vw(64);
    font-weight: 700;
    line-height: px-to-vw(45);
    margin-bottom: px-to-vw(35);
    span {
      line-height: px-to-vw(45);
    }
  }

  > p {
    font-size: px-to-vw(28);
    font-weight: 500;
    line-height: px-to-vw(22);
    span {
      display: block;
      line-height: px-to-vw(22);
    }
  }
}
