@import './variables';
@import './function';

@mixin chapter-button-styles($background-color, $text-color) {
  font-size: 32px;
  font-weight: 800;
  line-height: 45px;
  text-align: center;
  width: 248px;
  background-color: $background-color;
  color: $text-color;
  display: inline-block;
}

@mixin corner-text-styles($left: unset, $right: unset) {
  font-size: px-to-vw(117.14);
  font-style: italic;
  font-weight: 800;
  line-height: px-to-vw(73);
  text-align: left;
  position: absolute;
  color: $white-color;
  top: px-to-vw(46);
  left: px-to-vw($left);
  right: px-to-vw($right);
}
